.form-login-spacer {
    height: 100px;
}

.login-form-button-primary {
    color: #FFFFFF;
    background: #3369F3;
    border-radius: 8px;
}

.login-form-button-secondary {
    color: #3369F3;
    background: #FFFFFF;
}