<div class={{ styles.avatar-modal-header }}>Загрузите файл</div>
<div class={{ styles.avatar-modal-choose-file-container }}>
    <p class={{ styles.avatar-modal-choose-file }}>Выбрать файл на компьютере</p>
</div>
{{> button classes=(concat styles.button styles.avatar-modal-change-avatar) text="Поменять" }}